* { margin: 0px; 
    font-family:'Segoe UI';
    box-sizing: border-box; }
.header {
    background: rgb(0, 0, 0);
    opacity: 50%;
    align-content: center;
    font-size: 100%;
    height: 8%;
    padding: 0.5%;
}
.header a:hover {
    background-color: lightgrey;
    -webkit-text-fill-color: black;
}
#navbar {
    opacity: 50%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
#icon {
    height: 100%;
    width: auto;
    float: left;
    padding-right: 2%;
    padding-left: 1%;
}
#search_form {
    float: none;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}
.search-container {
    float: left;
    padding: 0;
    margin: 0;
    font-size: unset;
    border-width: 0pt;
}
.search-container input {
    height: 100%;
    line-height: 28pt;
    border: none;
    font-size: 20pt;
}

.search-container button {
    padding: auto;
    border: none;
    height: 30pt;
    width: 30pt;
    font-size: 17pt;
    background-color: white;
    color: black;
}
.search-home {
    padding: 0;
    padding-top: 6pt;
    margin-left: 37%;
    margin-right: 37%;
    font-size: unset;
    border-width: 0pt;
    text-align: center;
    background-color: black;
}
.search-home input {
    height: 100%;
    line-height: 28pt;
    border: none;
    font-size: 20pt;
}

.search-home button {
    padding: auto;
    border: none;
    height: 30pt;
    width: 30pt;
    font-size: 17pt;
    background-color: white;
    color: black;
}
.header a {
    display: block;
    float: right;
    font-size: 100%;
    padding: 1%;
    -webkit-text-fill-color: white;
    text-decoration: none;
}
.main {
    padding-top: 9%;
    padding-left: 2%;
    padding-right: 2%;
}

.alpha {
    padding: 10px;
}

.bottom {
    bottom: 0;
    position: fixed;
    padding-bottom: 2%;
    width: 100%;
    text-align: center;
}

